body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.products-grid {
    padding: 20px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 60%;
    margin: 0 auto;
}

.grid-item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.grid-item img {
    width: 100%;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
}

.products h2 {
  text-align: center;
}

/* Estilos para la sección Conócenos */
.about-us {
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

.about-us h2 {
  margin-bottom: 20px;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.about-content p {
  margin-bottom: 15px;
  line-height: 1.6;
}

/* Estilos para la sección Modelos de Carros */
.car-models {
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

.car-models h2 {
  margin-bottom: 20px;
}

.models-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.models-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.models-content img {
  width: 100%;
  height: auto;
  max-width: 400px;
  margin-top: 20px;
}

.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.logo-container img {
  max-width: 100px;
  max-height: 100px;
}

/* Estilos para la sección de Contacto */
.contact-info {
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

.contact-info h2 {
  margin-bottom: 20px;
}

.contact-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.contact-content ul {
  list-style-type: none;
  padding-left: 0;
}

.contact-content ul li {
  margin-bottom: 10px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .about-content, .models-content, .contact-content {
    text-align: center;
  }

  .logo-container {
    flex-direction: column;
  }
}

